.pic-ctn {
    position: relative;
    width: 90%;
    max-width: 800px;
    height: 10%;
    /*overflow: hidden;*/
}

.pic-ctn>img {
    position: absolute;
    top: 0;
    left: 10%;
    aspect-ratio: 9/6;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
}

.pic{
    display: none;
}

.pic.active{
    display: block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    margin-top: 20%;
    width: auto;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: var(--color3);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#dot-container,
#dot-container2{
    position: relative;
    margin-top: 50%;
}

.active,
.dot:hover {
    background-color: #717171;
}

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}