:root{
    --color1: #9D2972;
    --color2: #C22FA7;
    --color3: #46154B;
    --color4: #7A19B6;
    --color5: #472D85;
}

.sidebar-contact{
    position:fixed;
    top:50%;
    left:-350px;
    transform:translateY(-50%);
    width:350px;
    height:auto;
    padding:40px;
    background:#000000;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    box-sizing:border-box;
    transition:0.5s;
  }
  .sidebar-contact.active{
    left:0;
  }
  .sidebar-contact input,
  .sidebar-contact textarea{
    width:100%;
    height:36px;
    padding:5px;
    margin-bottom:10px;
    box-sizing:border-box;
    border:1px solid rgba(0,0,0,.5);
    outline:none;
  }
  .sidebar-contact h2{
    margin:0 0 20px;
    padding:0;
  }
  .sidebar-contact textarea{
    height:60px;
    resize:none;
  }
  .sidebar-contact input[type="submit"]{
    background:var(--color3);
    color:#fff;
    cursor:pointer;
    border:none;
    font-size:18px;
  }
  .toggle{
    position:absolute;
    height:48px;
    width:48px;
    text-align:center;
    cursor:pointer;
    background:rgb(0, 0, 0);
    top:0;
    right:-48px;
    line-height:48px;
  }
  .toggle:before{
    content:'\f003';
    font-family:fontAwesome;
    font-size:18px;
    color:#fff;
  }
  .toggle.active:before{
    content:'\f00d';
  }
  @media(max-width:768px)
  {
    .sidebar-contact{
      width:100%;
      height:100%;
      left:-100%;
    }
    .sidebar-contact .toggle{
      top:50%;
      transform:translateY(-50%);
      transition:0.5s;
    }
    .sidebar-contact.active .toggle
    {
      top:0;
      right:0;
      transform:translateY(0);
    }
    .scroll{
      width:100%;
      height:100%;
      overflow-y:auto;
    }
    /* .content{
      padding:50px 50px;
    } */
  }

@media (min-width: 951px) {
    
}


