:root {
    /* Paleta 1*/
    --color4: #9D2972cc;
    --color2: #C22FA7;
    --color3: #5d1c64;
    --color1: #7A19B6;
    --color5: #472D85;
    --color6: #ff76e6aa;


    /* Paleta 2 */
    --color7: #4c44cf;
    --color8: #e953da;
    --color9: #2FA7C2;
    --color10: #142f48;
    --color11: #f5c1f0;
    --color12: #9D2972;
    --color13: #4a9c3a;
    --color14: #b93288cc;
}

@font-face {
    font-family: 'Titulos';
    src: url('../resources/fonts/CODE\ Light.otf');
}

@font-face {
    font-family: 'Titulos_2';
    src: url('../resources/fonts/CODE\ Light.otf');
}

@font-face {
    font-family: 'Titulos-b';
    src: url('../resources/fonts/CODE\ Bold.otf');
}

@font-face {
    font-family: 'Parrafos';
    src: url('../resources/fonts/Garet-Book.ttf');
}

@font-face {
    font-family: 'Negrita';
    src: url('../resources/fonts/TOMMY\ Regular.otf');
}

html {
    all: unset;
}

body {
    width: 100%;
    color: white;
    margin: 0;
    scrollbar-gutter: stable;
    background-image: url('../resources/f1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color9);
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#video,
#about,
#carrousel,
#cifespod,
#playlist {
    background-color: var(--color14);
    padding: 50px;
    padding-top: 10px;
    width: 80%;
    max-width: 900px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 2px #00000050;
    box-sizing: border-box;
}

#video, #playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cifespod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cifespod h3 {
    max-width: 900px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    max-width: 900px;
}

iframe {
    width: 90%;
    max-width: 900px;
    aspect-ratio: 16/9;
}

#carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: fit-content;
}

nav {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

#scrolldown {
    all: unset;
    text-align: center;
    font-family: 'Titulos';
    font-size: 40px;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    height: 100px;
    cursor: pointer;
    transition: all 0.6s;
}

#scrolldown:hover {
    background-color: #00000050;
    transition: all 0.6s;
}

/**/
#date {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 40px 40px;
    box-sizing: border-box;
}

#date h3 {
    font-family: 'Titulos-b';
    filter: drop-shadow(3px 3px 1px #00000050);
    padding: 0;
    margin: 0 5px;
}


.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: showdate 1s ease;
}

.date h3{
    font-size: 50px;
}

@keyframes showdate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hide {
    display: none !important;
}

.nav_hidden {
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    position: fixed;
    animation-name: showup_logo2;
    animation-duration: 0.5s;
}

.hide_date{
    justify-content: flex-end;
}

.hide_date h3{
    font-size: 30px;
    margin-top: 5px;
}

#nav_logo1 {
    height: 40%;
    margin-top: 13%;
    filter: drop-shadow(5px 5px 1px #00000050);
    /*animation-name: showup_logo1;
    animation-duration: 1s;*/
    z-index: 2;
}

#nav_logo2 {
    height: 100px;
    margin-left: 5px;
    z-index: 2;
    filter: drop-shadow(2px 2px 1px #00000050);
}

.logo_hidden {
    display: none;
}

/* No anda bien
@keyframes showup_logo1 {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0px);
    }
}
*/
@keyframes showup_logo2 {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}

h1 {
    font-family: 'Titulos';
    font-size: 75px;
    text-align: center;
    z-index: 2;
    margin: 20px;
    letter-spacing: 3px;
}

p {
    font-family: 'Parrafos';
    font-size: 25px;
}

a {
    all: unset;
    color: var(--color9);
    cursor: pointer;
    transition: all 0.5s;
}

a:hover {
    color: var(--color11);
    transition: all 0.5s;
}

.highlight {
    color: var(--color9);
}

#about p {
    max-width: 900px;
}

#about h1 {
    width: 80%;
    max-width: 900px;
    margin-top: 35px;
    font-size: 70px;
}

#about h3 {
    font-size: 30px;
    margin-bottom: 0;
}

#about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.video_nav_hidden {
    margin-top: 100vh;
}

h3 {
    font-family: 'Titulos';
    font-size: 25px;
    height: 40px;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Titulos_2';
    font-size: 35px;
    text-align: center;
    letter-spacing: 3px;
}

#sponsors {
    width: 100%;
    height: auto;
    background-color: var(--color14);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    padding-bottom: 25px;
}

#sponsors img{
    height: 150px;
    filter:contrast(0%);
    margin: auto;
}

.container-sp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 150px;
    grid-template-areas: 
    "head head head"
    "logo1 logo2 logo3" ;
}

.head{
    grid-area: head;
    text-align: center;
}

.logo1{
    grid-area: logo1;
}

.logo2{
    grid-area: logo2;
}

.logo3{
    grid-area: logo3;
}

footer {
    height: 60px;
    width: 100%;
    background-color: var(--color5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    align-items: center;
    box-sizing: border-box;
}

footer p {
    font-family: 'Titulos_2';
    font-size: 20px;
    letter-spacing: 5px;
}

footer a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Negrita';
}

.footer_logo {
    height: 45px;
    z-index: 2;
    background-color: var(--color5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_logo img {
    margin-right: 5px;
}

#backgroundsvg {
    position: fixed;
    z-index: 1;
}

textarea,
input {
    all: unset;
    background-color: #00000050;
    border: rgba(0, 0, 0, 0.301) solid 3px;
    border-radius: 10px;
    font-family: 'Parrafos';
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 150px;
    height: 25px;
    z-index: 2;
    transition: all 0.5s;
}

textarea::-webkit-scrollbar {
    display: none;
}