:root {
    /* Paleta 1*/
    --color4: #9D2972cc;
    --color2: #C22FA7;
    --color3: #5d1c64;
    --color1: #7A19B6;
    --color5: #472D85;
    --color6: #ff76e6aa;


    /* Paleta 2 */
    --color7: #4c44cf;
    --color8: #e953da;
    --color9: #2FA7C2;
    --color10: #142f48;
    --color11: #f5c1f0;
    --color12: #9D2972;
    --color13: #4a9c3a;
    --color14: #b93287ec;
}

@font-face {
    font-family: 'Titulos';
    src: url('../resources/fonts/CODE\ Light.otf');
}

@font-face {
    font-family: 'Titulos_2';
    src: url('../resources/fonts/CODE\ Light.otf');
}

@font-face {
    font-family: 'Titulos-b';
    src: url('../resources/fonts/CODE\ Bold.otf');
}

@font-face {
    font-family: 'Parrafos';
    src: url('../resources/fonts/Garet-Book.ttf');
}

@font-face {
    font-family: 'Negrita';
    src: url('../resources/fonts/TOMMY\ Regular.otf');
}

html {
    all: unset;
}

body {
    width: 100%;
    color: white;
    margin: 0;
    scrollbar-gutter: stable;
    background-image: url('../resources/f1-mobile.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color9);
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#video,
#about,
#premios,
#carrousel,
#cifespod,
#playlist,
#podcast,
#taller {
    background-color: var(--color14);
    padding: 50px;
    padding-top: 10px;
    width: 80%;
    max-width: 900px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 2px #00000050;
    box-sizing: border-box;
}

#podcast h2 {
    text-align: center;
}

#grilla {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* align-items: baseline; */
    justify-content: center;
    margin-top: 0;
}

.podcard{
    /* background-color: black;  Provisional */
    height: 950px;
    aspect-ratio: 9/16;
    border-radius: 20px;
    transition: all ease-in-out 0.4s;
}

.podcard img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding-bottom: 15px;
}

/* .podcard:hover{
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
} */


#redtickets {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    align-items: baseline;
    justify-content: space-between;
    gap: 15px;
    margin-top: 75px;
}

#redtickets img {
    float: left;
    flex-direction: row;
    /* width: 20%; */
    height: 100px;
    /* min-width: 40px; */
    margin: auto;
    margin-left: 15%;
}

#redtickets h3 {
    /* float: right; */
    flex-direction: row;
    width: 60%;
    min-width: 450px;
    margin: auto;
}



#taller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#taller h3 {
    text-align: center;
    max-width: 900px;
}

.container-t img{
    /* float: right; */
    align-items: center;
    width: 100%;
    min-width: 250px;
    margin: auto;
    border-radius: 10px;
}

#taller p {
    text-align: center;
    align-content: baseline;
}

#video, #playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cifespod, #premios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cifespod h3 {
    max-width: 900px;
}
#cifespod img{
    float: right;
    width: 40%;
    min-width: 250px;
    margin: auto;
}

#premios h3 {
    max-width: 900px;
}
#premios p, #about p{
    text-align: justify;
}

.container,
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    max-width: 900px;
}

iframe {
    width: 90%;
    max-width: 900px;
    aspect-ratio: 16/9;
}

#carrousel,
#podcast,
#premios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: fit-content;
}


nav {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

#scrolldown {
    all: unset;
    text-align: center;
    font-family: 'Titulos';
    font-size: 40px;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    height: 100px;
    cursor: pointer;
    transition: all 0.6s;
}

#scrolldown:hover {
    background-color: #00000050;
    transition: all 0.6s;
}

#date {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px 20px;
    box-sizing: border-box;
}

#date h3 {
    font-family: 'Titulos-b';
    filter: drop-shadow(3px 3px 1px #00000050);
    padding: 0;
    margin: 0 5px;
}

#date img{
    height: 50px;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: showdate 1s ease;
}

.date h3{
    font-size: 40px;
}

@keyframes showdate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hide {
    display: none !important;
}

.nav_hidden {
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    position: fixed;
    animation-name: showup_logo2;
    animation-duration: 0.5s;
}

.hide_date{
    justify-content: flex-end;
}

.hide_date h3{
    font-size: 30px;
    margin-top: 5px;
}

#nav_logo1 {
    height: 40%;
    margin-top: 16%;
    filter: drop-shadow(5px 5px 1px #00000050);
    z-index: 2;
}

#nav_logo2 {
    height: 100px;
    margin-left: 5px;
    z-index: 2;
    filter: drop-shadow(2px 2px 1px #00000050);
}

.logo_hidden {
    display: none;
}

@keyframes showup_logo2 {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}

h1 {
    font-family: 'Titulos';
    font-size: 75px;
    text-align: center;
    z-index: 2;
    margin: 20px;
    letter-spacing: 3px;
}

p {
    font-family: 'Parrafos';
    font-size: 25px;
}

a {
    all: unset;
    color: var(--color9);
    cursor: pointer;
    transition: all 0.5s;
}

a:hover {
    color: var(--color11);
    transition: all 0.5s;
}

.highlight {
    color: var(--color9);
}

#about p, #premios p {
    max-width: 900px;
    margin-bottom: 15px;
}

#about h1 {
    width: 80%;
    max-width: 900px;
    margin-top: 15px;
    font-size: 50px;
}

#about h3 {
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
}

#about, #premios {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.video_nav_hidden {
    margin-top: 100vh;
}

h3 {
    font-family: 'Titulos-b';
    font-size: 25px;
    height: 40px;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Titulos-b';
    font-size: 35px;
    text-align: center;
    letter-spacing: 3px;
}

#prefooter {
    width: 100%;
    height: 200px;
    background-color: var(--color14);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sponsors {
    width: 80%;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 150px;
}
#sponsors h3 {
    margin-bottom: 0;
}


.container-sp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 30%;
}
.logo1 {
    margin: auto;
    height: 160px;
    min-width: 160px;
}
.logo2 {
    margin: auto;
    height: 160px;
    width: 300px;
    margin-left: -40px;
}

.head {
    grid-area: head;
    text-align: center;
}

#prefooter-2 {
    width: 100%;
    height: 200px;
    background-color: var(--color14);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
    height: fit-content;
    
}

#sponsors-2 {
    width: 80%;
    max-width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    
}

#sponsors-2 h3 {
    /* grid-area: head; */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
}

.container-sp-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}


.logo-s {
    margin: auto;
    height: 150px;
    min-width: 150px;
    width: 100%;     
    gap: 350px;
}

footer {
    min-height: 100px;
    width: 100%;
    padding-bottom: 20px;
    background-color: var(--color5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

footer:first-of-type p {
    width: auto;
    font-family: 'Titulos';
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

footer a {
    display: inline-block;
    margin-left: 20px;
}

.footer_logo {
    width: 80px;
    z-index: 2;
    background-color: var(--color5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mec_logo {
    width: 300px;
}

#backgroundsvg {
    position: fixed;
    z-index: 1;
}

textarea,
input {
    all: unset;
    background-color: #00000050;
    border: rgba(0, 0, 0, 0.301) solid 3px;
    border-radius: 10px;
    font-family: 'Parrafos';
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 150px;
    height: 25px;
    z-index: 2;
    transition: all 0.5s;
}

textarea::-webkit-scrollbar {
    display: none;
}

#aural{
    width: 80%;
    margin-top: 25px;
}


.licencia{
    min-height: 0;
    height: 22px;
    font-family: 'Titulos';
    background-color: var(--color10);
    align-items: baseline;
}

.licencia a{
    color: whitesmoke;
}

.licencia>p{
    margin: 0;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}