:root {
    /* Paleta 1*/
    --color4: #9D2972cc;
    --color2: #C22FA7;
    --color3: #5d1c64;
    --color1: #7A19B6;
    --color5: #472D85;
    --color6: #ff76e6aa;


    /* Paleta 2 */
    --color7: #4c44cf;
    --color8: #e953da;
    --color9: #6EC1E4;
    --color10: #142f48;
    --color11: #f5c1f0;
    --color12: #9D2972;
}

@font-face {
    font-family: 'Titulos';
    src: url('../resources/CODE\ Light.otf');
}

@font-face {
    font-family: 'Titulos_2';
    src: url('../resources/CODE\ Light.otf');
}

@font-face {
    font-family: 'Parrafos';
    src: url('../resources/Garet-Book.ttf');
}

html {
    all: unset;
}

body {
    width: 100%;
    color: white;
    margin: 0;
    scrollbar-gutter: stable;
    background-image: url('../resources/fondo-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color9);
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#video,
#about,
#carrousel,
#cifespod {
    background-color: var(--color4);
    padding: 50px;
    width: 80%;
    max-width: 900px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 2px #00000050;
}

#video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cifespod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cifespod h3 {
    max-width: 900px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    max-width: 900px;
}

iframe {
    width: 900px;
    aspect-ratio: 16/9;
}

#carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

nav {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

#scrolldown {
    all: unset;
    text-align: center;
    font-family: 'Titulos';
    font-size: 50px;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    height: 100px;
    cursor: pointer;
    transition: all 0.6s;
}

#scrolldown:hover {
    background-color: #00000050;
    transition: all 0.6s;
}

/**/
#date {
    width: 100%;
    position: fixed;
    top: 0;
}

#date h3 {
    font-size: 50px;
    margin: 25px;
    filter: drop-shadow(3px 3px 1px #00000050);
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: showdate 1s ease;
}

@keyframes showdate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hide {
    display: none !important;
}

.nav_hidden {
    height: 100px;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    position: fixed;
    animation-name: showup_logo2;
    animation-duration: 0.5s;
}

#nav_logo1 {
    height: 400px;
    margin-top: 10%;
    filter: drop-shadow(5px 5px 1px #00000050);
    /*animation-name: showup_logo1;
    animation-duration: 1s;*/
    z-index: 2;
}

#nav_logo2 {
    height: 100px;
    margin-left: 5px;
    z-index: 2;
    filter: drop-shadow(2px 2px 1px #00000050);
}

.logo_hidden {
    display: none;
}

/* No anda bien
@keyframes showup_logo1 {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0px);
    }
}
*/
@keyframes showup_logo2 {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
    }
}

h1 {
    font-family: 'Titulos';
    font-size: 75px;
    text-align: center;
    z-index: 2;
    margin: 20px;
}

p {
    font-family: 'Parrafos';
    font-size: 25px;
    z-index: 2;
}

a {
    all: unset;
    color: var(--color6);
    cursor: pointer;
    transition: all 0.5s;
}

a:hover {
    color: var(--color9);
    transition: all 0.5s;
}

.highlight {
    color: var(--color6);
}

#about p {
    max-width: 900px;
}

#about h1 {
    width: 80%;
    max-width: 900px;
    margin-top: 35px;
}

#about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.video_nav_hidden {
    margin-top: 100vh;
}

h3 {
    font-family: 'Titulos';
    font-size: 25px;
    height: 40px;
}

h2 {
    font-family: 'Titulos_2';
    font-size: 35px;
    text-align: center;
}

footer {
    height: 150px;
    background-color: var(--color4);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer h3 {
    font-family: 'Titulos_2';
}

#backgroundsvg {
    position: fixed;
    z-index: 1;
}

textarea,
input {
    all: unset;
    background-color: #00000050;
    border: rgba(0, 0, 0, 0.301) solid 3px;
    border-radius: 10px;
    font-family: 'Parrafos';
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 150px;
    height: 25px;
    z-index: 2;
    transition: all 0.5s;
}